.payslip {
  width: auto;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  padding: 16px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  color: #333;
}
