.card {
  border-radius: 8px;
}
.card-body {
  padding: 1rem 1.5rem;
}
input {
  max-width: auto;
}

img {
  object-fit: cover;
  border: 2px solid #dee2e6;
}

strong {
  font-size: 1rem;
}

.text-muted {
  font-size: 0.9rem;
}

.employee-link {
  text-decoration: none;
  color: #007bff;
}

.employee-link:hover {
  text-decoration: underline;
}

