<div role="dialog" aria-modal="true" aria-labelledby="leave-dialog-title" class="dialog-container mat-elevation-z4">
  <h2 style="text-align: center;">Select Event Type</h2>
  <!--<button class="btn btn-sm btn-secondary" (click)="goBack()">← Back</button> -->
  <div class="button-group">
    <button class="btn btn-primary" (click)="select('leave')">Leave Request</button>
    <button class="btn btn-success" (click)="select('todo')">ToDo Task</button>
    <button class="btn btn-warning" (click)="select('event')">Event</button>
  </div>
</div>
