<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TestApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isAdmin" class="nav-link active" routerLink="/admin">Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/users">User Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/employees">Employee Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/payroll">Payroll Dashboard</a>
        </li>
        <!--
          <li class="nav-item">
          <a *ngIf="isAdmin" class="nav-link active" routerLink="/register">Register</a>
        </li>
        -->
        
      </ul>
      <div class="d-flex align-items-center gap-2">
        <span *ngIf="fullName" class="me-2 text-primary fw-semibold">
          👤 {{ fullName }}
        </span>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>